In [1]:
import pandas as pd

In [2]:
frame = pd.DataFrame({'number':range(10), 'chars':['a']*10})
frame

  chars  number
0     a       0
1     a       1
2     a       2
3     a       3
4     a       4
5     a       5
6     a       6
7     a       7
8     a       8
9     a       9

In [4]:
frame.columns

Index([u'chars', u'number'], dtype='object')

In [5]:
frame.shape

(10, 2)

In [9]:
new_line = {'number':20, 'char':5}
frame.append(new_line, ignore_index = True)
frame = frame.append(new_line, ignore_index = True)
frame

   chars  number  char
0      a     0.0   NaN
1      a     1.0   NaN
2      a     2.0   NaN
3      a     3.0   NaN
4      a     4.0   NaN
5      a     5.0   NaN
6      a     6.0   NaN
7      a     7.0   NaN
8      a     8.0   NaN
9      a     9.0   NaN
10   NaN    20.0   5.0

In [10]:
frame.dtypes

chars      object
number    float64
char      float64
dtype: object