In [1]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('checkins.dat', sep = '|', skipinitialspace = True)
data = data.iloc[1:, 3:5] # exclude first row and other columns
data.dropna(inplace = True) # drop NAs
data.head()
#data = data[np.isfinite(data.latitude)]
#data.dropna(subset = ["latitude", "longitude"], inplace = True)

    latitude        longitude
2        38.895112      -77.036366
4        33.800745      -84.410520
8        45.523452     -122.676207
10       40.764462     -111.904565
11       33.448377     -112.074037

In [32]:
data.shape # check shape it should be 396634 rows

(396634, 2)

In [33]:
data = data.iloc[:100000, :] # trim data to 100k rows for faster fitting

In [34]:
X = data.values
X.shape

In [38]:
from sklearn.cluster import MeanShift

In [40]:
clust = MeanShift(bandwidth = 0.1)
clust.fit(X)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [56]:
ccl = pd.read_csv('ccl.csv', sep = ',').values # Carnival Cruise Line offices' points
y_pred = clust.predict(ccl) # get nearest foursqaure clusters

In [66]:
dist = np.linalg.norm(clust.cluster_centers_[y_pred] - ccl, axis = 1)
ind = dist.argmin()

In [72]:
s = '{} {}'.format(ccl[ind, 0], ccl[ind, 1])
print s

-33.868457 151.205134

In [73]:
with open('ans1.txt', 'w') as f:
    f.write(s)
# write an answer to a file